
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* margin-top: 10px; */
}
.table-container {
    flex: 1;
    overflow-y: auto;
    max-height: 70vh;
    border: 1px solid #ccc;
}
table {
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: system-ui;
    font-size: 24px;
}

thead {
    background-color: #f2f2f2;
}
.button-container {
    margin-top: 10px;
    text-align: center;
    margin-top: 23px;
}
.fixed-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ion-icon {
    font-size: 24px;
}

.custom-input-group {
    border-radius: 4px;

}

#searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
